.TodoList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.TodoList__item {
  display: inline-flex;
  width: 300px;

  padding: 10px;

  outline: 1px solid blue;

  background-color: cornflowerblue;
}
/* 
.TodoList__text {
}

.TodoList__button {
} */
